src/main/mule/cicd-auto-deploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4934d3c-d1a4-4c5e-adaa-1e65d5029a03" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-auto-deployFlow" doc:id="63a3232f-274f-4077-a3af-7d0f63aa4f20" >
		<http:listener doc:name="Listener" doc:id="146f3435-0afb-4e76-a981-c690917d108e" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="23cf89a0-2ec7-40ca-b213-573651dd84e6" message="Here is the app started "/>
		<ee:transform doc:name="Transform Message" doc:id="1a96498a-02eb-41bc-8187-2878bceade55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "This is my first app to deploy automatically",
	"status code": "201"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="604bc757-f8ce-43b1-8f86-6145ed882748" message="#[payload]"/>
	</flow>
</mule>
